*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 243, 245);
    margin: 0;
    padding: 0;
    max-width: 100%;
}
h1{
    font-size: 36px;
    padding: 30px;
}
h2{
    font-size: 30px;
    line-height: 35px;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: black;
    padding: 10px;
}
ul{
    text-align: left;
    line-height: 24px;
    font-weight: 500;
}
li{
    margin: 5px;
}
.Real-body{
    max-width: 100%;
    margin: auto;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
}
.head{
    display: flex;
    justify-content: start;
    gap: 10px;
}
header{
    background-color: green;
    color: white;
    padding: 10px;
}
.head img{
    width: 68px;
    height: 68px;
    border: 2px solid green;
    border-radius: 50%;
}
.head h1{
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}
.sec1 h1{
    margin-top: 0;
    margin-bottom: 5px;
}

.sec1 h2, .sec2 h2{
    margin-top: 30px;
    text-align: left;
    color: red;
    font-size: 20px;
}
.sec1 img{
    max-width: 80%;
}
.specP{
    text-align: left;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 0;
}
.sec2 h1{
    padding-bottom: 0;
}
p:nth-of-type(4) span{
    color: green;
}
.sec2 p:nth-of-type(5), p:nth-of-type(8){
    font-weight: 500;
    padding-bottom: 50px;
}
.sec2 img{
    max-width: 80%;
}
.sec2 h1:nth-of-type(3){
    font-family: Lucida Calligraphy, Lucida Handwriting, cursive;
    color: green;
    margin-bottom: 0;
}
.sec3 img{
    max-width: 80%;
}
.sec3 h2{
    margin-bottom: 10px;
    margin-top: 0;
}
.sec3 h1{
    margin: 40px;
}
#spec{
    background-color: green;
    margin-bottom: 10px;
    margin-top: 0;
}
.boxA{
    display: grid;
    background-color: rgb(243, 244, 245);
    max-width: 80%;
    margin: 50px;
    padding: 0 0 20px 0;
}
.box1, .box2, .box3, .box4{
    display: grid;
}
.boxA img{
    max-width: 40%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.boxA p, h2{
    margin: 0;
    padding: 0 10px;
}
.sec4{
    background-color: green;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.sec4 h1{
   margin: 0;
   padding: 10px;
   background-color: black;
   color: white;
}

.sec4 span{
    color: red;
}
#text{
    background-color: white;
    border: 2px solid green;
    color: green;
}

.price{
    background-color: white;
    max-width: 70%;
    margin: 20px auto;
}
.sec5 h1{
margin-bottom: 0px;
padding-bottom: 0px;
}
.sec5 p{
    font-size: 18px;
}


@media only screen and (min-width: 768px){
    .Real-body{
        max-width: 80%;
    }
    .desk{
        display: flex;
        justify-content: space-around
    }
    .desk img{
        width: 350px;
        height: 450px;
    }
    #spec{
        margin-bottom: 0;
    }
    .boxB{
        display: flex;
        border: 2px solid green;
        gap: 10px;
        border-radius: 15px;
        border-top-right-radius:0;
        border-top-left-radius: 0;
        background-color: rgb(243, 244, 245);
    }
    .boxA{
        display: flex;
        flex-direction: column;  
    }
    .boxA img{
        max-width: 100%;
    }
    .boxA p, h2{
        margin-top: 10px;
        padding: 0;
    }
    .box1, .box2, .box3{
        display: flex;
        flex-direction: column;
        border-right: 2px solid green; 
        padding: 15px;
    }
    .box4{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

}